@media( max-width:857px) {
/* mobile breakpoint start */
.link{
    color: #fff;
}
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
     .nav.content {
      /* min-height: 60px; */
    }
    .nav.content ul {
      position: absolute;
      width: 100%;
      height: calc(90vh - 60px);
      left: 0;
      top: 50px;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      z-index: 999;
    }
     .nav.content ul li {
      width: 100%;
      text-align: center;
    }
     .nav.content ul li a {
      padding: 25px;
    }
     .nav.content ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
     .nav.content ul.open {
      max-height: 100vh;
      overflow: visible;
    }
   
    /* navbar css for mobile end */

 
}

